/* -----------------------------------------
   Main Color #Blue
----------------------------------------- */
#header,
#navigation ul {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
}

#logo a,
#navigation a,
#paging span {
  color: #FFF;
}

#hero h1 {
  color: #FFF;
}

#logo a:hover {
  color: #111;
}

button[type=submit].searchsubmit {
  color: #FFF;
}
button[type=submit].searchsubmit:hover {
  color: #FFF;
  background: #111;
}

.entry-title a:hover {
  color: #111;
}

#paging a,
#paging span {
  background-color: none;
  border: 2px solid #3b7cff;
  color: #3b7cff;
}

#paging span.current {
  color: #FFF;
}

a,
#navigation a:hover,
#navigation .sfHover > a,
a.btn,
input[type=submit],
button[type=submit] {
  color: #3b7cff;
}

a:hover,
#paging a:hover {
  color: #216bff;
}

#logo,
button.searchsubmit,
#paging span.current {
  background-color: #3b7cff;
}

a.btn,
input[type=submit],
button[type=submit] {
  border-color: #3b7cff;
}

a.btn:hover,
input[type=submit]:hover,
button[type=submit]:hover,
#paging a:hover:hover {
  color: #111;
  border-color: #111;
}

a.btn.white,
input[type=submit].white,
button[type=submit].white {
  color: #FFF;
  border-color: #FFF;
}
a.btn.white:hover,
input[type=submit].white:hover,
button[type=submit].white:hover {
  color: #3b7cff;
  border-color: #3b7cff;
}

#paging a:hover {
  border-color: #216bff;
}
