.alt-nav { display: none; }
#nav { margin-left: 15px; float: left; }
#nav ul { margin: 0; padding: 0; list-style: none; }
#navigation {
	$nav-padding: 20px;

	/* Navigation functional styles  ---------------------- */
	li { position: relative; }
	> li { display: inline-block; }
	ul { position: absolute; z-index: 300; top: -999em; }
	li:hover > ul,
	.sfHover > ul { top: auto; left: 12px; }
	li li:hover > ul,
	li .sfHover > ul { top: 0; left: 100%; }
	li li li:hover > ul,
	li li .sfHover > ul{ top: 0; left: 100%; }
	a { display: block; white-space: nowrap; }

	a {
		font-weight: 300;
		color: #fff;
		font-family: $secondary-font;
		text-transform: uppercase;
		display: block;
		padding: 24px 20px;
		font-size: 14px;
	}
	
	a:hover {
		text-decoration: none;
	}

	> li {
		>	a {

		}

		&.active,
		&.current-menu-ancestor,
		&.current-menu-item {
			> a {

				&:hover {
				}
			}
		}
	}

	> li > a:hover,
	> li.sfHover > a {

	}

	ul {
		width: auto;
		padding: 5px 0;
		a {
			padding: 9px 43px 9px 19px;
			text-align: left;

			&:hover {

			}
		}

		li.sfHover > a {
		}
	}

	a.sf-with-ul {
		position: relative;
		/* Styling for navigation arrows  ---------- */
	}

	&.sf-arrows .sf-with-ul:after {
		content: '\f078';
		font-family: FontAwesome;
		position: absolute;
		top: 50%;
		right: $nav-padding - 11px;
		margin-top: -10px;
		font-size: 7px;
		font-weight: normal;
	}

	&.sf-arrows ul .sf-with-ul:after {
		right: 8px;
		margin-top: -5px;
		content: "\f054";

		/* Styling for right facing arrows  ---------- */
	}
}


