/* #Default (black)
================================================== */

/* Links */
a, a:visited, a:active {color: #000000; }
a:hover { color: #2f2f2f; }

input[type="submit"], .gform_wrapper input[type=submit] {
	background-color: #000000;
}

input[type="submit"]:hover {background-color: #373737;}

input[type=text]:focus,textarea:focus {border: 1px solid #000000;}


.slider-info h6 span { background-color: #2d2d2d; }

.logo a:hover { color: #3e3e3e;}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background: #434343; outline: 0; color: #fff;}

.read-more-btn, .read-more-button:visited { background-color: #000000; }
.read-more-btn:hover { background-color: #434343; }

.gallery .flex-control-paging li a:hover { background: #434343; background: rgba(0, 0, 0, 0.63); }

.gallery .flex-control-paging li a.flex-active { background: #434343; background: rgba(0, 0, 0, 0.58); cursor: default; }

.paginator a:hover, .paginator a.active { background-color: #000; }
.wp-pagenavi span.current, .wp-pagenavi a:hover { background-color: #434343; }

.post-title a:hover { color: #434343; }

.btn-reply, .comment-reply-link { color: #000; }

h3.incon a:hover {color: #000;}

.s-icon:hover { background: #000; }

.widget_ci_twitter_widget a:hover, .widget_ci_twitter_widget a:focus {color: #000;}

.widget_search input[type="submit"] { background-color: #000;  }
.widget_search input[type="submit"]:hover {background-color: #000;}

.widget_related-articles .post-content h3 a:hover {color: #4d4d4d;}
