/* #Default (purple)
================================================== */

/* Links */
a, a:visited, a:active {color: #8314cf; }
a:hover { color: #4f0e82; }

input[type="submit"], .gform_wrapper input[type=submit] {
	background-color: #8314cf;
}

input[type="submit"]:hover {background-color: #8314cf;}

input[type=text]:focus, textarea:focus {border: 1px solid #8314cf;}


.slider-info h6 span { background-color: #8314cf; }

.logo a:hover { color: #450c71;}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background: #8314cf; outline: 0; color: #fff;}

.read-more-btn, .read-more-button:visited { background-color: #8314cf; }
.read-more-btn:hover { background-color: #5f0f95; }

.gallery .flex-control-paging li a:hover { background: #8314cf; background: rgb(122, 0, 218); }

.gallery .flex-control-paging li a.flex-active { background: #8314cf; background: rgb(181, 57, 218); cursor: default; }

.paginator a:hover, .paginator a.active { background-color: #9516e9; }
.wp-pagenavi span.current, .wp-pagenavi a:hover { background-color: #8314cf; }

.post-title a:hover { color: #63129f; }

.btn-reply, .comment-reply-link { color: #8314cf; }

h3.incon a:hover {color: #8314cf;}

.s-icon:hover { background: #8815d7; }

.widget_ci_twitter_widget a:hover, .widget_ci_twitter_widget a:focus {color: #6611a3;}

.widget_search input[type="submit"] { background-color: #8c15dd;  }
.widget_search input[type="submit"]:hover {background-color: #7411b7;}

.widget_related-articles .post-content h3 a:hover {color: #8314cf;}
