/* #Default (red)
================================================== */

/* Links */
a, a:visited, a:active {color: #cf363a; }
a:hover { color: #8b2428; }

input[type="submit"], .gform_wrapper input[type=submit] {
	background-color: #cf363a;
}

input[type="submit"]:hover {background-color: #8b2428;}

input[type=text]:focus,textarea:focus {border: 1px solid #cf363a;}


.slider-info h6 span { background-color: #cf363a; }

.logo a:hover { color: #8b2428;}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background: #cf363a; outline: 0; color: #fff;}

.read-more-btn, .read-more-button:visited { background-color: #cf363a; }
.read-more-btn:hover { background-color: #8b2428; }

.gallery .flex-control-paging li a:hover { background: #cf363a; background: rgb(218, 57, 57); }

.gallery .flex-control-paging li a.flex-active { background: #cf363a; background: rgb(218, 55, 51); cursor: default; }

.paginator a:hover, .paginator a.active { background-color: #cf363a; }
.wp-pagenavi span.current, .wp-pagenavi a:hover { background-color: #cf363a; }

.post-title a:hover { color: #8b2428; }

.btn-reply, .comment-reply-link { color: #cf363a; }

h3.incon a:hover {color: #cf363a;}

.s-icon:hover { background: #cf363a; }

.widget_ci_twitter_widget a:hover, .widget_ci_twitter_widget a:focus {color: #8b2428;}

.widget_search input[type="submit"] { background-color: #cf363a;  }
.widget_search input[type="submit"]:hover {background-color: #a32a2e;}

.widget_related-articles .post-content h3 a:hover {color: #cf363a;}
